<section class="guarantee">
  <h2 class="guarantee-title">Мы гарантируем</h2>
  <div class="section-wrapper">
    <div class="container guarantee-container">
      <ul class="list guarantee-list">
        <li class="guarantee-item">
          <p class="guarantee-text">
            Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
            тестировании. Иначе мы вернем деньги.<span
              class="guarantee-text__color"
              >*</span
            >
            <svg width="14" height="20" class="guar-list-icon">
              <use href="./images/sprite.svg#icon-Campfire"></use>
            </svg>
          </p>
        </li>

        <li class="guarantee-item">
          <p class="guarantee-text">
            Ты научишься писать сочинения минимум на 10 баллов из 14.
            <span class="guarantee-text__color"
              >В то время как 20% учеников получили за сочинение 0.</span
            >
            <svg width="14" height="20" class="guar-list-icon">
              <use href="./images/sprite.svg#icon-Campfire"></use>
            </svg>
          </p>
        </li>
        <li class="guarantee-item">
          <p class="guarantee-text">
            Ты будешь заниматься в своем районе. Мы выберем место проведения
            занятий после формирования команд.
          </p>
          <svg width="14" height="20" class="guar-list-icon">
            <use href="./images/sprite.svg#icon-Campfire"></use>
          </svg>
        </li>
        <li class="last-item">
          <p class="guarantee-text">
            Команды будут сформированы, исходя из начального уровня учеников. Мы
            учитываем особенности каждого ученика.
          </p>
          <svg width="14" height="20" class="guar-list-icon">
            <use href="./images/sprite.svg#icon-Campfire"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
