<!-- Hero -->
<!-- Пишем без doctype -->
<section class="hero">
  <div class="container">
    <h1 class="page-title">
      Комплексная подготовка к ВНО по английскому языку
    </h1>

    <p class="hero-text">
      <span class="hero-text-grey">Просто не будет.</span
      ><span class="hero-text-black">Но ты гарантировано наберешь</span>
      <span class="hero-text-orange">+25 баллов</span>
    </p>
    <button type="button" class="button">хочу на бесплатное занятие</button>
    <ul class="hero-list">
      <li class="hero-list-item">Адаптированная авторская программа ВНО</li>
      <li class="hero-list-item">Современные методики обучения</li>
      <li class="hero-list-item">Финансовая гарантия результата</li>
    </ul>

    <picture>
      <source
        srcset="
          ./src/images/hero/mobile/hero_team.png    1x,
          ./src/images/hero/mobile/hero_team@2x.png 2x
        "
        media="(max-width: 767px)"
      />

      <img
        src="./src/images/teacher/mobile/teacher.jpg"
        alt="Учитель"
        class="main-content-pic"
      />
    </picture>
  </div>
</section>
