<section class="section registration">
  <div class="container">
    <p class="registration-prame-text">
      Регистрация на <span class="accent">бесплатную</span> телефонную
      <span class="accent">консультацию</span> по нюансам ЗНО по английскому
      языку
    </p>
    <p class="registration-secondary-text">
      Оставь заявку на участие в <span class="accent">бесплатном занятии</span>.
      С вами свяжется консультант и ответит на вопросы
    </p>
    <form class="contact-form">
      <label class="contact-form-label">
        <input
          class="contact-form-input first-input"
          type="name"
          name="use-name"
          placeholder="Имя*"
          required
      /></label>
      <label class="contact-form-label">
        <input
          class="contact-form-input"
          type="email"
          name="use-email"
          placeholder="Телефон*"
          required
      /></label>
      <button class="button primary" type="button">
        хочу на бесплатное занятие
      </button>
    </form>
  </div>
</section>
