<section class="section-doit">
  <div class="container">
    <h2 class="section-doit-title">Как мы это делаем</h2>

    <ul class="doit-list list">
      <li class="doit-list-item">
        <svg class="doit-icon" width="45" height="48">
          <use href="./images/sprite.svg#icon-study-program"></use>
        </svg>

        <h3 class="doit-list-item-title">
          Адаптированная программа<br />
          подготовки к ВНО
        </h3>
        <p class="doit-list-item-text">
          Ты будешь изучать грамматику и лексику одновременно. И ты научишься
          писать сочинения.
        </p>
      </li>

      <li class="doit-list-item">
        <svg class="doit-icon" width="47" height="48">
          <use href="./images/sprite.svg#icon-Audio-Book"></use>
        </svg>
        <h3 class="doit-list-item-title">Аудитория и <br />онлайн-обучение</h3>
        <p class="doit-list-item-text">
          Учитель поможет не только в<br />
          аудитории, но и во время домашней<br />
          подготовки. Родители могут<br />
          участвовать в чате при желании.
        </p>
      </li>

      <li class="doit-list-item">
        <svg class="doit-icon" width="65" height="48">
          <use href="./images/sprite.svg#icon-Group"></use>
        </svg>

        <h3 class="doit-list-item-title">
          Привычка читать на<br />
          английском языке
        </h3>
        <p class="doit-list-item-text">
          Статьи из источников, которые используются при разработке настоящего
          ВНО, будут приходить<br />
          на телефон дважды в неделю.
        </p>
      </li>
      <li class="doit-list-item">
        <svg class="doit-icon" width="49" height="48">
          <use href="./images/sprite.svg#icon-Female_Student"></use>
        </svg>

        <h3 class="doit-list-item-title">
          Психологическая<br />
          поддержка
        </h3>
        <p class="doit-list-item-text">
          Мы научим тебя методикам прохождения тестирований,<br />
          умению планировать свою<br />
          подготовку уверенности в себе.
        </p>
      </li>
      <li class="doit-list-item">
        <svg class="doit-icon" width="40" height="46">
          <use href="./images/sprite.svg#icon-Mobile_Learning"></use>
        </svg>

        <h3 class="doit-list-item-title">
          Обучение по авторским<br />
          пособиям
        </h3>
        <p class="doit-list-item-text">
          Тебе не нужно тратить время на самостоятельный поиск материала<br />
          и ничего покупать дополнительно.<br />
          Мы составили 2 пособия для тебя.
        </p>
      </li>
      <li class="doit-list-item">
        <svg class="doit-icon" width="55" height="47">
          <use href="./images/sprite.svg#icon-open_book"></use>
        </svg>

        <h3 class="doit-list-item-title">
          Умение воспринимать устную<br />
          английскую речь
        </h3>
        <p class="doit-list-item-text">
          “F.R.I.E.N.D.S” тебе не помогут. Ты<br />
          будешь регулярно слушать и разбирать<br />
          аудиозаписи в соответствии с<br />
          изучаемой лексикой.
        </p>
      </li>
    </ul>
  </div>
</section>
