<section class="container testimonials">
  <p class="testimonials-title">Отзывы выпускников</p>
  <div class="slider">
    <div class="slider__wrapper">
      <div class="slider__item" id="slider_1">
        <div class="testimonials-main">
          <div class="tesimonials-profile">
            <picture class="testimonials-picture">
              <img
                src="./images/review/desctop/photo_front.jpg"
                alt="фото девушки"
                width="150"
                height="150"
                class="testimonials-picture__img"
              />
            </picture>
            <a
              href="https://vk.com/"
              aria-label="link vk.com"
              class="testimonials-social"
            >
              <img
                src="./images/vk.svg"
                alt="vk logo"
                width="30"
                height="30"
                class="testimonials-social__img"
            /></a>
          </div>
          <div class="testimonials-box">
            <h3 class="testimonials-name">Тоня Кучеровская</h3>
            <p class="testimonials-university">
              Выпуск 2015-го года, Національний університет<br />
              біоресурсів і природокористування України
            </p>
            <p class="testimonials-text">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
            </p>
            <a href="" target="_blank" class="testimonials-link"
              >Читать дальше</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item" id="slider_2">
        <div class="testimonials-main">
          <div class="tesimonials-profile">
            <picture class="testimonials-picture">
              <img
                src="./images/review/desctop/photo_front.jpg"
                alt="фото девушки"
                width="150"
                height="150"
                class="testimonials-picture__img"
              />
            </picture>
            <a
              href="https://vk.com/"
              aria-label="link vk.com"
              class="testimonials-social"
            >
              <img
                src="./images/vk.svg"
                alt="vk logo"
                width="30"
                height="30"
                class="testimonials-social__img"
            /></a>
          </div>
          <div class="testimonials-box">
            <h3 class="testimonials-name">Трисс Меригольд</h3>
            <p class="testimonials-university">
              Выпуск 2015-го года, Національний університет<br />
              біоресурсів і природокористування України
            </p>
            <p class="testimonials-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
              velit explicabo, dicta quos dolorum atque, dolore libero nulla
              debitis magni voluptatibus unde! Hic necessitatibus eveniet maxime
              corrupti laudantium sit commodi numquam a rerum error. Quos
              numquam consequatur nostrum, ullam deserunt labore dolores ad
              perspiciatis magni delectus. Ad, dolorem. Consequuntur commodi,
              illum eveniet nisi mollitia possimus iure a esse, facilis
              quibusdam ab ...
              <a href="" target="_blank" class="testimonials-link"
                >Читать дальше</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="slider__item" id="slider_3">
        <div class="testimonials-main">
          <div class="tesimonials-profile">
            <picture class="testimonials-picture">
              <img
                src="./images/review/desctop/photo_front.jpg"
                alt="фото девушки"
                width="150"
                height="150"
                class="testimonials-picture__img"
              />
            </picture>
            <a
              href="https://vk.com/"
              aria-label="link vk.com"
              class="testimonials-social"
            >
              <img
                src="./images/vk.svg"
                alt="vk logo"
                width="30"
                height="30"
                class="testimonials-social__img"
            /></a>
          </div>
          <div class="testimonials-box">
            <h3 class="testimonials-name">Йеннифер из Венгерберга</h3>
            <p class="testimonials-university">
              Выпуск 2015-го года, Національний університет<br />
              біоресурсів і природокористування України
            </p>
            <p class="testimonials-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
              velit explicabo, dicta quos dolorum atque, dolore libero nulla
              debitis magni voluptatibus unde! Hic necessitatibus eveniet maxime
              corrupti laudantium sit commodi numquam a rerum error. Quos
              numquam consequatur nostrum, ullam deserunt labore dolores ad
              perspiciatis magni delectus. Ad, dolorem. Consequuntur commodi,
              illum eveniet nisi mollitia possimus iure a esse, facilis
              quibusdam ab ...
            </p>
            <a href="" target="_blank" class="testimonials-link"
              >Читать дальше</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item" id="slider_4">
        <div class="testimonials-main">
          <div class="tesimonials-profile">
            <picture class="testimonials-picture">
              <img
                src="./images/review/desctop/photo_front.jpg"
                alt="фото девушки"
                width="150"
                height="150"
                class="testimonials-picture__img"
              />
            </picture>
            <a
              href="https://vk.com/"
              aria-label="link vk.com"
              class="testimonials-social"
            >
              <img
                src="./images/vk.svg"
                alt="vk logo"
                width="30"
                height="30"
                class="testimonials-social__img"
            /></a>
          </div>
          <div class="testimonials-box">
            <h3 class="testimonials-name">Кейра Мец</h3>
            <p class="testimonials-university">
              Выпуск 2015-го года, Національний університет<br />
              біоресурсів і природокористування України
            </p>
            <p class="testimonials-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
              velit explicabo, dicta quos dolorum atque, dolore libero nulla
              debitis magni voluptatibus unde! Hic necessitatibus eveniet maxime
              corrupti laudantium sit commodi numquam a rerum error. Quos
              numquam consequatur nostrum, ullam deserunt labore dolores ad
              perspiciatis magni delectus. Ad, dolorem. Consequuntur commodi,
              illum eveniet nisi mollitia possimus iure a esse, facilis
              quibusdam ab ...
            </p>
            <a href="" target="_blank" class="testimonials-link"
              >Читать дальше</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item" id="slider_5">
        <div class="testimonials-main">
          <div class="tesimonials-profile">
            <picture class="testimonials-picture">
              <img
                src="./images/review/desctop/photo_front.jpg"
                alt="фото девушки"
                width="150"
                height="150"
                class="testimonials-picture__img"
              />
            </picture>
            <a
              href="https://vk.com/"
              aria-label="link vk.com"
              class="testimonials-social"
            >
              <img
                src="./images/vk.svg"
                alt="vk logo"
                width="30"
                height="30"
                class="testimonials-social__img"
            /></a>
          </div>
          <div class="testimonials-box">
            <h3 class="testimonials-name">Фрингилья Виго</h3>
            <p class="testimonials-university">
              Выпуск 2015-го года, Національний університет<br />
              біоресурсів і природокористування України
            </p>
            <p class="testimonials-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
              velit explicabo, dicta quos dolorum atque, dolore libero nulla
              debitis magni voluptatibus unde! Hic necessitatibus eveniet maxime
              corrupti laudantium sit commodi numquam a rerum error. Quos
              numquam consequatur nostrum, ullam deserunt labore dolores ad
              perspiciatis magni delectus. Ad, dolorem. Consequuntur commodi,
              illum eveniet nisi mollitia possimus iure a esse, facilis
              quibusdam ab ...
            </p>
            <a href="" target="_blank" class="testimonials-link"
              >Читать дальше</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item" id="slider_6">
        <div class="testimonials-main">
          <div class="tesimonials-profile">
            <picture class="testimonials-picture">
              <img
                src="./images/review/desctop/photo_front.jpg"
                alt="фото девушки"
                width="150"
                height="150"
                class="testimonials-picture__img"
              />
            </picture>
            <a
              href="https://vk.com/"
              aria-label="link vk.com"
              class="testimonials-social"
            >
              <img
                src="./images/vk.svg"
                alt="vk logo"
                width="30"
                height="30"
                class="testimonials-social__img"
            /></a>
          </div>
          <div class="testimonials-box">
            <h3 class="testimonials-name">Цири</h3>
            <p class="testimonials-university">
              Выпуск 2015-го года, Національний університет<br />
              біоресурсів і природокористування України
            </p>
            <p class="testimonials-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
              velit explicabo, dicta quos dolorum atque, dolore libero nulla
              debitis magni voluptatibus unde! Hic necessitatibus eveniet maxime
              corrupti laudantium sit commodi numquam a rerum error. Quos
              numquam consequatur nostrum, ullam deserunt labore dolores ad
              perspiciatis magni delectus. Ad, dolorem. Consequuntur commodi,
              illum eveniet nisi mollitia possimus iure a esse, facilis
              quibusdam ab ...
            </p>
            <a href="" target="_blank" class="testimonials-link"
              >Читать дальше</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item" id="slider_7">
        <div class="testimonials-main">
          <div class="tesimonials-profile">
            <picture class="testimonials-picture">
              <img
                src="./images/review/desctop/photo_front.jpg"
                alt="фото девушки"
                width="150"
                height="150"
                class="testimonials-picture__img"
              />
            </picture>
            <a
              href="https://vk.com/"
              aria-label="link vk.com"
              class="testimonials-social"
            >
              <img
                src="./images/vk.svg"
                alt="vk logo"
                width="30"
                height="30"
                class="testimonials-social__img"
            /></a>
          </div>
          <div class="testimonials-box">
            <h3 class="testimonials-name">Анна-Генриетта</h3>
            <p class="testimonials-university">
              Выпуск 2015-го года, Національний університет<br />
              біоресурсів і природокористування України
            </p>
            <p class="testimonials-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
              velit explicabo, dicta quos dolorum atque, dolore libero nulla
              debitis magni voluptatibus unde! Hic necessitatibus eveniet maxime
              corrupti laudantium sit commodi numquam a rerum error. Quos
              numquam consequatur nostrum, ullam deserunt labore dolores ad
              perspiciatis magni delectus. Ad, dolorem. Consequuntur commodi,
              illum eveniet nisi mollitia possimus iure a esse, facilis
              quibusdam ab ...
            </p>
            <a href="" target="_blank" class="testimonials-link"
              >Читать дальше</a
            >
          </div>
        </div>
      </div>
    </div>
    <a class="slider__control slider__control_left" href="#" role="button"></a>
    <a
      class="slider__control slider__control_right slider__control_show"
      href="#"
      role="button"
    ></a>
  </div>
  <div>
    <ul class="testimonials-thumb-list list">
      <li class="item">
        <a
          href="./index.html#slider_1"
          class="testimonials-link__button"
          aria-label="ссылка на отзыв ученика"
          ><img
            src="./images/review/desctop/photo_1.jpg"
            alt="фото ученика"
            class="testimonials-link__img"
            width="54"
            height="54"
        /></a>
      </li>
      <li class="item">
        <a
          href="./index.html#slider_2"
          class="testimonials-link__button"
          aria-label="ссылка на отзыв ученика"
          ><img
            src="./images/review/desctop/photo_2.jpg"
            alt="фото ученика"
            class="testimonials-link__img"
            width="54"
            height="54"
        /></a>
      </li>
      <li class="item">
        <a
          href="./index.html#slider_3"
          class="testimonials-link__button"
          aria-label="ссылка на отзыв ученика"
          ><img
            src="./images/review/desctop/photo_3.jpg"
            alt="фото ученика"
            class="testimonials-link__img"
            width="54"
            height="54"
        /></a>
      </li>
      <li class="item">
        <a
          href="./index.html#slider_4"
          class="testimonials-link__button"
          aria-label="ссылка на отзыв ученика"
          ><img
            src="./images/review/desctop/photo_4.jpg"
            alt="фото ученика"
            class="testimonials-link__img"
            width="54"
            height="54"
        /></a>
      </li>
      <li class="item">
        <a
          href="./index.html#slider_5"
          class="testimonials-link__button"
          aria-label="ссылка на отзыв ученика"
          ><img
            src="./images/review/desctop/photo_5.jpg"
            alt="фото ученика"
            class="testimonials-link__img"
            width="54"
            height="54"
        /></a>
      </li>
      <li class="item">
        <a
          href="./index.html#slider_6"
          class="testimonials-link__button"
          aria-label="ссылка на отзыв ученика"
          ><img
            src="./images/review/desctop/photo_6.jpg"
            alt="фото ученика"
            class="testimonials-link__img"
            width="54"
            height="54"
        /></a>
      </li>
      <li class="item">
        <a
          href="./index.html#slider_7"
          class="testimonials-link__button"
          aria-label="ссылка на отзыв ученика"
          ><img
            src="./images/review/desctop/photo_7.jpg"
            alt="фото ученика"
            class="testimonials-link__img"
            width="54"
            height="54"
        /></a>
      </li>
    </ul>
  </div>
</section>
