.teacher {
  padding-top: 270px;
  padding-bottom: 50px;
}

.teacher-section-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 39px;
  margin-bottom: 20px;
}

.teacher-title {
  text-align: left;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  margin-top: 21px;
}

.teacher-title:after {
  content: '';
  display: block;
  width: 100%;
  background-color: #b9b9b9;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.teacher-list {
  list-style-image: url('./../images/teacher/teachertick.svg');
  margin-bottom: 15px;
  margin-left: 15px;
}

.teacher-list-item {
  margin-left: 9px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;

  &:last-child {
    margin-bottom: 0;
  }
}

.teacher-fl-item {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 167%;

  color: #b9b9b9;

  &:last-child {
    margin-bottom: 0;
  }
}

.teacher-fl-text {
  color: $hover-color;
}

.teacher-features-list::before {
  content: '—';
  display: block;
  color: $hover-color;
}

.teacher-wrapper {
  display: flex;
}
